body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 1000px;
}
.registration-contaner{
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
    
    
   
    padding: 50px;
}
.enterInput{
    max-width: 200px;
   
}
.enter{
    background-color: bisque;
    
}
.ent{
    max-width: 400px;
}