<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доступные Чаты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainpageStyles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Доступные Чаты</h1>
        <div class="chat-list">
            {% for chat in chats %}
                <div class="chat-item">
                    Имя: {{ chat[1] }}<br> создан : {{chat[2].strftime('%Y-%m-%d')}}  <!-- Отображаем ID и имя чата -->
                    <form action="{{ url_for('join_chat', chat_id=chat[0]) }}" method="POST">
                        <input type="hidden" name="user_id" value="{{ user_id }}"> <!-- ID пользователя -->
                        <button type="submit" class="join-button">Присоединиться</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="button-container">
            <form action="{{ url_for('create_chat') }}" method="POST">
                <input type="text" name="chat_name" placeholder="Имя нового чата" required class="chat-input">
                <button type="submit" class="create-button">Создать чат</button>
            </form>
        </div>
    </div>
</body>
</html>